@import "node_modules/@cells-components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  @apply --abm-schedules;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit; outline: none;
}

  select::-ms-expand {
    display: none;
  }

  h1 { text-align: center; font-size: 21px; color: #616161; }
  h3 {     text-align: center; font-size: 16px; color: #6060b9; }

  .block-hour {
    display: flex; width: 100%; flex-flow: row nowrap; align-items: center; justify-content: center; padding: 20px 0;

    select {
      font-size: 50px; background: transparent; border: none; padding: 0 20px;
      -webkit-appearance: none; appearance: none;
      option { font-size: 16px; }
    }
    span { font-size: 35px; }
  }

  .bt-save {
    text-align: center; margin-top: 40px;
    button { 
      background: #004481; padding: 14px 30px; border: none; color: white; display: inline-block;
      &:hover { background: #235e92; }
    }
  }
